/* Target the root element and define custom font-family properties */
:root {
    --font-family-base: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --font-family-title: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Set body's font-family to font-family-base */
body {
    font-family: var(--font-family-base);
}

/* Create a new declaration targeting all 6 levels of section headings */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-title);
}

/* Links declaration */
a {
    text-decoration: none;
    color: var(--text-color);
}

/* Hide all elements with the class visually-hidden */
.visually-hidden {
    display: none;
}

/* Card category declaration */
.card-category {
    color: var(--color-primary);
}

/* Section tagline declaration */
.section-tagline {
    color: var(--color-primary);
}
