/* Set smooth scrolling behavior for the entire document */
html {
    scroll-behavior: smooth;
    font-size: 62.5%; /* Set the base font size to 62.5% (equivalent to 10px in most browsers) */
}

/* Define custom properties at the root level */
:root {
    --color-primary: #d73953; /* Define primary color */
    --color-black: #090909; /* Define black color */
    --color-white: #ffffff; /* Define white color */
    --color-light-grey: #f3f3f3; /* Define light grey color */
    --color-dark-grey: #353535; /* Define dark grey color */
    --text-color: var(--color-black); /* Define text color using the black color */
    --font-family-base: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Define base font family */
    --font-family-title: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Define font family for section headings */
    --font-size-small: 1.2rem; /* Define small font size */
    --font-size-medium: 1.6rem; /* Define medium font size */
    --font-size-large: 1.8rem; /* Define large font size */
    --font-size-x-large: 2.3rem; /* Define extra large font size */
    --font-size-xx-large: 4.8rem; /* Define double extra large font size */
}

/* Apply font family to all heading elements */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family-title); /* Use the title font family for headings */
}

/* Set body styles */
body {
    color: var(--text-color); /* Use text color for body text */
    font-family: var(--font-family-base); /* Use base font family for body text */
    font-size: var(--font-size-medium); /* Set medium font size for body text */
}

/* Style anchor (link) elements */
a {
    color: var(--text-color); /* Use text color for links */
}

/* Hide visually-hidden elements */
.visually-hidden {
    display: none; /* Hide elements with this class visually */
}

/* Style elements with class card-category and section-tagline */
.card-category, .section-tagline {
    color: var(--color-primary); /* Use primary color for elements with these classes */
}
